*{
	margin: 0;
	padding: 0;
}
.f18{
	font-size: 18px;
}
.f15{
	font-size: 15px;
}
@media screen and (max-width: 1000px){
	.nav_top{
		width: 1000px;
	}
	.nav_sec{
		width: 1000px;
	}
}
.nav_top{
	height: 90px;
	line-height: 90px;
	border-bottom: 1px solid #f2f2f2;
}
.nav_topM>ul li{
	padding: 0px 20px;
	font-size: 18px;
}
.a_same a:link,.a_same a:visited{
	text-decoration: none;
	color: #000000;
}
.a_same a:hover{
	color: #31c27c;
}
.nav_top_search>input{
	width: 250px;
	height: 36px;
	padding: 10px 10px;
	outline: none;
	border-radius: 5px;
	border: 1px solid #CCCCCC;
}
.title_green{
	background-color: #31c27c;
}
.title_green>a{
	color: white !important;
}
/*首页二级菜单*/
.nav_sec>ul li{
	margin-right: 50px;
	line-height: 50px;
	height: 40px;
}
/*歌单推荐*/
.common_part{
	text-align: center;
	background: url(../img/bg_detail.jpg) no-repeat;
}
.common_part h2{
	padding:40px 0;
	margin: 0;
}
.common_nav{
	padding-bottom: 20px;
}
.common_nav a{
	display: inline-block;
	margin: 0 24px;
}
.a_theme a:link,.a_theme a:visited{
	text-decoration: none;
	color: #333;
}
.a_theme a:hover{
	color: #31c27c;
}
.index_slide>ul li{
	display: inline-block;
	position: relative;
	margin-right: 20px;
	text-align: left;
}
.slide_pic{
	width: 224px;
	height: 224px;
	overflow: hidden;
}
.slide_pic>img{
	width: 224px;
	height: 224px;
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}

.slide_pic:hover>img{
   -webkit-transform: scale(1.1,1.1);
   -moz-transform: scale(1.1,1.1);
   -o-transform: scale(1.1,1.1);
   -ms-transform: scale(1.1,1.1);
   transform: scale(1.1,1.1);
   transition: transform .75s;
   cursor: pointer;
}
.lh_30{
	line-height: 30px;
}
.p_gray{
	color: #999999;
}
.song_play{
	position: absolute;
	top: 30%;
	left: 35%;
	transform: scale(1) translateZ(0);
	transition-property: opacity,transform;
    transition-duration: .5s;
    cursor: pointer;
	display: none;
}

/*底部*/
footer{
	color: #999999;
	text-align: center;
}
footer>ul li{
	padding-right: 5px;
}
footer a:link,footer a:visited{
	color: #999999;
	text-decoration: none;
}
footer a:hover{
	color: #31c27c;
}
