.shoppingcart_content{
	padding: 20px 20px ;
	
}
.cart_topL{width: 970px;}
.cart_topL1{
	border: 1px solid #c9e1f4;
	
	border-radius: 5px;
	padding: 5px 20px;
}
.cart_topL1 div:nth-of-type(2){
	margin: 15px 0px 0px 15px;
	line-height: 20px;
	
}
.cart_topL1 div:nth-of-type(2) p:first-of-type{
	color: #00464f;
	font-size: 20px;
}
.cart_topL1>button{
	background-color: #eeeff1;
	color: #0f1110;
	border-radius: 3px;
	margin-top: 22px;
}
.cart_topL2>div:first-of-type{
	font-size: 25px;
	color: black;
	line-height: 45px;
}
.cart_topL2>p{
	line-height: 10px;
	font-size: 12px;
	
}
.cart_topL2>p a{
	text-decoration: underline;
	color: #0066c0;
}
.cart_topL2>p a:hover{
	color: #D58512;
}
.cart_shadow{
    background:linear-gradient(to bottom,rgba(0,0,0,.14),rgba(0,0,0,.03) 3px,transparent);
    height: 40px;
    margin-top: 30px;
}
.bd{
	background:linear-gradient(to right,#fff,rgba(255,255,255,0),#fff);
	z-index: 1;
	height: 40px;
}

.cart_views{
	padding-right: 25px;
	margin-bottom: 50px;
	/*width: 1200px;*/
}
.cart_views>div{
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
.cart_views>div>p:first-of-type{
	font-size: 20px;
	color: #444444;
}
.cart_views>div>p:nth-of-type(2){
	font-size: 13px;
	color: #444444;
}
.cart_views .viewed_list{
	width: 2400px;
	
}
.cart_views .viewed_list div{
	width: 150px;
	text-align: left;
	margin-right: 50px;
}
.cart_views .viewed_list div img{
	margin-bottom: 10px;
}
.cart_views .viewed_list div p{
	line-height: 10px;
}
.cart_views .viewed_list div p a:hover{
	color: #D58512;
	text-decoration: none;
}
.cart_views .viewed_list div p:nth-of-type(3){
	height: 12px;
}
.cart_views .viewed_list div p img{
	vertical-align: middle;
}
.cart_price a{color: #D58512 !important;}
.cart_view_bottom{
	text-align: left;
	padding: 20px 0px;
}
.cart_view_bottom span{
	display: block;
	width: 55px;
	text-align: right;
	margin-right: 20px;
}
.cart_view_bottom i img{
	border: 1px #CCCCCC solid;
	cursor: pointer;
	margin-right: 20px;
}
.cart_view_bottom div{
	width: 100px !important;
	margin-right: 0px !important;
	
}
.cart_view_bottom>div b{
	margin-top: -5px;
}
.cart_view_bottom>div>a{
	display: block;
	width: 75px;
	line-height: 12px !important;
	font-size: 10px !important;
	color: #0066c0;
	margin-left:15px;
}
.cart_view_bottom a:hover{
	color: #D58512 !important;
	text-decoration: none !important;
}
.cart_views{
	
}
.cart_views>.row{
	
}



.fbrown{color: #B12704;}
.fbrown_big{
	font-size: 22px;
}
.fbrown_small{
	font-size: 10px;
}
.normal{
	font-size: 12px;
	color: #555555;
}
.fblack{color: black;}
.msg_feedback>a:hover{
	color: #E47923;
}
.f18{font-size: 18px;}
.cont_buttonY,.cont_buttonG{
	width: 123px;
	height: 22px;
	margin: 8px 0px;
	border-radius: 3px;
}
.cont_buttonY{
	background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
	border: 1px #a88734 solid;
	position: relative;
}

.cont_buttonG{
	background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
	border: 1px #adb1b8 solid;
}
/*购物车内容*/
.cart_content{
	border-top: 1px #CCCCCC solid;
	border-bottom: 1px #CCCCCC solid;
	padding: 15px 0px;
}
.cart_topL2>div:last-of-type{
	margin-bottom: 20px;
}
.cart_content>div:nth-of-type(2){
	width: 530px;
}
.cart_content>div:nth-of-type(2)>p{
	line-height: 10px;
}
.price>span:first-of-type{
	display: inline-block;
	width: 660px;
}
.cart_Quantity select{
	width: 75px;
}

.index_5_r{
	position: relative;
	width: 900px;
	overflow: hidden;
	margin-left: 10px;
}
.index_5_r>b{
	position: absolute;
	top: 38%;
	cursor: pointer;
}
.index5_r_r{right: 0px;}
.index_5_r>div{
	width: 1350px;
	padding-top: 10px;
}
.index_5_r>div>div{
	width: 180px;
	margin-right: 10px;
	padding: 15px;
	border: 2px solid transparent;
}
.index_5_r>div>div:hover{border: 2px solid #ff8f00;}
.index_5_r>div>div img{
	cursor: pointer;
	
}
.index_5_r>div>div button{
	width: 150px;
	height: 30px;
	color: #584d31;
	background-color: #f3ce74;
	border: 1px #a88734 solid;
}
.index_5_r>div>div button:hover{
	background-color: #eebd40;
}
.index_5_r>div>div a:hover{color: #E47923;}

/*购物车右边*/
.cart_topR{
	width:300px
}
.cart_topR1{
	/*border: 1px #CCCCCC solid;*/
	/*padding: 20px;*/
}
.cart_topR1_white{
	border: 1px #CCCCCC solid;
	padding: 15px;
}
.cart_topR1_white>p{
	color: #029802;
	line-height: 5px;
}
.cart_topR1_grey{
	padding: 10px;
	border: 1px #CCCCCC solid;
	background-color: #f3f3f3;
}
.cart_topR1_grey>p:nth-of-type(3)>button{
	width: 260px;
	height: 30px;
}
/*文字在线上*/
.order {
    height: 20px;
    line-height: 20px;
    text-align: center;
}
.order .line {
    display: inline-block;
    width: 125px;
    border-top: 1px solid #ccc ;
}
.order .txt {
    color: #686868;
    vertical-align: -4px;
    font-size: 12px;
}

.cart_topR2{
	padding: 20px;
	border: 1px #ccc solid; 
	margin-top: 20px;
}
.cart_topR2>div>div{
	margin-bottom: 10px;
}



/*切换*/

.public_click{
	position: relative;
}
.public_click>b{
	position: absolute;
	top: 60px;
	border: 1px #CCCCCC solid;
	padding: 15px;
	border-radius: 3px;
	background-color: #f4f5f7;
	cursor: pointer;
}
.r_left{
	left: 0px;
}
.r_right{right: 0px;}
